<div class="h-screen flex flex-col">
  <mat-toolbar>
    <button (click)="navDrawer.toggle()" mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Icon here</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="h-full">
    <mat-sidenav #navDrawer class="sticky left-0" mode="side">
      <p>--Auto-resizing sidenav--</p>
    </mat-sidenav>
    <div class="bg-slate-500 h-full">
      Content
    </div>
  </mat-drawer-container>
</div> 

<!-- <router-outlet /> -->
